.main {
  justify-content: center;
  padding: 20px 10px;
  &__list {
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pokemonCard {
    width: 175px;
    height: 270px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #efe6dd;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 0;
    &__image {
      height: 150px;
      width: 150px;
    }
    > ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
    }
    li:nth-child(1) {
      font-weight: bold;
      font-size: 110%;
    }
    button {
      font-family: inherit;
      background-color: #ef3e33;
      color: #f1faee;
      font-size: inherit;
      border-radius: 10px;
      height: 30px;
      width: 100px;
    }
  }
  .navigation-button-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    > * {
      font-family: inherit;
      font-size: 125%;
      height: 50px;
      padding: 10px;
      background-color: #ef3e33;
      color: white;
      font-weight: bold;
    }
    .previous-button {
      border-radius: 20px 0 0 20px;
      padding-left: 15px;
    }
    .next-button {
      border-radius: 0 20px 20px 0;
      padding-right: 15px;
    }
    .count-button {
      background-color: white;
      color: black;
      font-weight: normal;
      cursor: default;
    }
  }
}
