@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  background-color: #ffcb05;
  margin: 0;
  min-width: 275px;
  max-width: 100%;
}

.container {
  margin: 0;
  padding: 0;
}
.header {
  height: 150px;
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #ef3e33;
  flex-direction: column;
  align-items: center;
  &__navigation-buttons {
    display: flex;
  }
}

.main {
  justify-content: center;
  &__list {
    padding: 0 10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pokemonCard {
    width: 200px;
    height: 200px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: lightcyan;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 0;
    &__image {
      height: 150px;
      width: 150px;
    }
    > ul {
      list-style-type: none;
      padding: 0;
    }
  }
}
