@use "header";
@use "main";
@use "footer";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "VT323", monospace;
  font-size: 120%;
  background-color: #f3dfa2;
  min-width: 290px;
  max-width: 100vw;
  button {
    cursor: pointer;
  }
}

.container {
  margin: 0;
  padding: 0;
}
